{{!-- <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
            
            <div class="logo">
                <a href="#" class="simple-text">
                    School Portal
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="/">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="./addStudent">
                            <i class="material-icons">add_circle_outline</i>
                            <p>Add student</p>
                        </a>
                    </li>
                    <li>
                        <a href="./students">
                            <i class="material-icons">remove_red_eye</i>
                            <p>All Student</p>
                        </a>
                    </li>
                   
                   
                </ul>
            </div>
        </div>
        <div class="main-panel">
           
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="card text-center">
                               <h3 class="title"> WELCOME TO MY SCHOOL PORTAL</h3>
                                <button class="btn btn-primary">Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Profile </a>
                    </div>

                </div>
            </nav>

        </div>
        
</div> --}}

<div class="wrapper">
    <!--header-->
    <div class="header-w3l">
        <h1>Hotel Room Pricing Table</h1>
    </div>
    <!--//header-->
    <!--main-->
    <!-- pricing plans -->
    <div class="pricing">
        <div class="w3l-pricing-grids">
            <div class="agileits-pricing-grid first">
                <div class="pricing_grid">
                    <div class="wthree-pricing-info pricing-top">
                        <h3>Standard</h3>
                        <p>&#8358;<span>10k</span>/night</p>
                    </div>
                    <div class="pricing-bottom">
                        <div class="pricing-bottom-bottom">
                            <p><span class="fa fa-check"></span><span>Rooms</span> 1</p>
                            <p><span class="fa fa-times"></span><span>Breakfast </span> No</p>
                            <p><span class="fa fa-times"></span><span>Internet </span> No</p>  
                            <p><span class="fa fa-times"></span><span>Laundry </span> No</p>
                            <p class="text"><span class="fa fa-times"></span><span>Gym facilities</span> No</p>
                        </div>
                        <div class="buy-button">
                            <a class="popup-with-zoom-anim" href="#small-dialog">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agileits-pricing-grid second">
                <div class="pricing_grid">
                    <div class="wthree-pricing-info pricing-top yellow-top">
                        <h3>Deluxe</h3>
                        <p>&#8358;<span>15k</span>/night</p>
                    </div>
                    <div class="pricing-bottom">
                        <div class="pricing-bottom-bottom blue-pricing-bottom-top">
                            <p><span class="fa fa-check"></span><span>Rooms</span> 1</p>
                            <p><span class="fa fa-check"></span><span>Breakfast </span> Yes</p>
                            <p><span class="fa fa-times"></span><span>Internet </span> No</p>  
                            <p><span class="fa fa-times"></span><span>Laundry </span> No</p>
                            <p class="text"><span class="fa fa-times"></span><span>Gym Facilities</span> No</p>
                        </div>
                        <div class="buy-button">
                            <a class="popup-with-zoom-anim" href="#small-dialog">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agileits-pricing-grid third">
                <div class="pricing_grid">
                    <div class="wthree-pricing-info pricing-top blue-top">
                        <h3>Executive</h3>
                        <p>&#8358;<span>25k</span>/night</p>
                    </div>
                    <div class="pricing-bottom">
                        <div class="pricing-bottom-bottom green-pricing-bottom-top">
                            <p><span class="fa fa-check"></span><span>Rooms</span> 2</p>
                            <p><span class="fa fa-check"></span><span>Breakfast </span> Yes</p>
                            <p><span class="fa fa-check"></span><span>Internet </span> 5G</p>  
                            <p><span class="fa fa-times"></span><span>Laundry </span> No</p>
                            <p class="text"><span class="fa fa-times"></span><span>Gym Facilities</span> No</p>
                        </div>
                        <div class="buy-button">
                            <a class="popup-with-zoom-anim" href="#small-dialog">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="agileits-pricing-grid fourth">
                <div class="pricing_grid">
                    <div class="wthree-pricing-info pricing-top green-top">
                        <h3>VIP</h3>
                        <p>&#8358;<span>50k</span>/night</p>
                    </div>
                    <div class="pricing-bottom">
                        <div class="pricing-bottom-bottom yellow-pricing-bottom-top">
                            <p><span class="fa fa-check"></span><span>Rooms</span> 2</p>
                            <p><span class="fa fa-check"></span><span>Breakfast </span> Yes</p>
                            <p><span class="fa fa-check"></span><span>Internet </span> 10G</p>  
                            <p><span class="fa fa-check"></span><span>Laundry </span> Yes</p>
                            <p class="text"><span class="fa fa-check"></span><span>Gym Facilities</span> Yes</p>
                        </div>
                        <div class="buy-button">
                            <a class="popup-with-zoom-anim" href="#small-dialog">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //pricing plans -->
    <!--//main-->

</div>
